<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocabulary.Server.Resources.Resources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <Vocabulary.Server.Resources.Resources>
            <setting name="NoSuchCommand" serializeAs="String">
                <value>&lt;нет такой команды&gt;</value>
            </setting>
            <setting name="NoSuchWord" serializeAs="String">
                <value>&lt;слово отсутвует в словаре&gt;</value>
            </setting>
            <setting name="MeansAdded" serializeAs="String">
                <value>&lt;({0}):значения слова успешно добавлены&gt;</value>
            </setting>
            <setting name="MeansAreAlreadyAdded" serializeAs="String">
                <value>&lt;значения уже добавлены&gt;</value>
            </setting>
            <setting name="WordIsNotSet" serializeAs="String">
                <value>&lt;слово не задано&gt;</value>
            </setting>
            <setting name="MeansAreDeleted" serializeAs="String">
                <value>&lt;значения слова успешно удалены&gt;</value>
            </setting>
            <setting name="NoSuchWordOrMean" serializeAs="String">
                <value>&lt;слово/значение отсутвует в словаре&gt;</value>
            </setting>
            <setting name="CommandIsNotSet" serializeAs="String">
                <value>&lt;команда не задана&gt;</value>
            </setting>
            <setting name="ServerIsStarted" serializeAs="String">
                <value>&lt;сервер запущен, нажмите любую клавишу...&gt;</value>
            </setting>
            <setting name="UnexpectedError" serializeAs="String">
                <value>&lt;ошибка: {0}&gt;</value>
            </setting>
            <setting name="StopServerError" serializeAs="String">
                <value>&lt;ошибка остановки сервера&gt;</value>
            </setting>
            <setting name="HandleRequestError" serializeAs="String">
                <value>&lt;ошибка обработки запроса&gt;</value>
            </setting>
            <setting name="StartServerError" serializeAs="String">
                <value>&lt;ошибка старта сервера&gt;</value>
            </setting>
            <setting name="RequestError" serializeAs="String">
                <value>&lt;ошибка получения запроса&gt;</value>
            </setting>
            <setting name="MeansAreNotSet" serializeAs="String">
                <value>&lt;значения не заданы&gt;</value>
            </setting>
            <setting name="CommandNameDuplicated" serializeAs="String">
                <value>&lt;дублируется имя команды&gt;</value>
            </setting>
            <setting name="UrlIsInvalid" serializeAs="String">
                <value>&lt;url имеет неверный формат&gt;</value>
            </setting>
        </Vocabulary.Server.Resources.Resources>
    </applicationSettings>
</configuration>