<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocabulary.Client.Resources.Resources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Vocabulary.Client.Resources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vocabulary.Client.Resources" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <Vocabulary.Client.Resources.Resources>
            <setting name="UrlIsNotSet" serializeAs="String">
                <value>&lt;url сервера не задан&gt;</value>
            </setting>
            <setting name="CommandIsNotSet" serializeAs="String">
                <value>&lt;команда не задана&gt;</value>
            </setting>
            <setting name="ResponseErrorCode" serializeAs="String">
                <value>&lt;запрос вернул код ошибки: {0}&gt;</value>
            </setting>
            <setting name="UrlIsInvalid" serializeAs="String">
                <value>&lt;url имеет неверный формат&gt;</value>
            </setting>
            <setting name="PortIsNotSet" serializeAs="String">
                <value>&lt;порт не задан&gt;</value>
            </setting>
            <setting name="RequestError" serializeAs="String">
                <value>&lt;ошибка запроса&gt;</value>
            </setting>
            <setting name="UnexpectedError" serializeAs="String">
                <value>&lt;ошибка: {0}&gt;</value>
            </setting>
        </Vocabulary.Client.Resources.Resources>
        <Vocabulary.Client.Resources>
            <setting name="UrlIsNotSet" serializeAs="String">
                <value>&lt;url сервера не задан&gt;</value>
            </setting>
            <setting name="CommandIsNotSet" serializeAs="String">
                <value>&lt;команда не задана&gt;</value>
            </setting>
            <setting name="ResponseErrorCode" serializeAs="String">
                <value>&lt;запрос вернул код ошибки: {0}&gt;</value>
            </setting>
            <setting name="UrlIsInvalid" serializeAs="String">
                <value>&lt;url имеет неверный формат&gt;</value>
            </setting>
        </Vocabulary.Client.Resources>
    </applicationSettings>
    <userSettings>
        <Vocabulary.Client.Resources>
            <setting name="PortIsNotSet" serializeAs="String">
                <value>&lt;порт не задан&gt;</value>
            </setting>
            <setting name="RequestError" serializeAs="String">
                <value>&lt;ошибка запроса&gt;</value>
            </setting>
            <setting name="UnexpectedError" serializeAs="String">
                <value>&lt;ошибка: {0}&gt;</value>
            </setting>
        </Vocabulary.Client.Resources>
    </userSettings>
</configuration>